.Header{
   background-color:black;
    position:fixed;
    display:flex;
    flex-direction: row;
    width: 101.5%;
    height: 100px;
    margin-top: -9%;
    margin-left: -1%;  
    z-index: 1;
}


.Header input{
    position:relative;
    padding: 1%;
    width:30%;
    max-height:40px;
    display: block;
    border: none;
    outline: none;
    margin-top:2.5%;
    margin-left:4%;
    margin-bottom:2.5%;
    margin-right:23%;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    color: black;
    letter-spacing: 1px;
    }

.welcome{
position: relative;
height: fit-content;
margin-top:3%;
margin-bottom:3%;
margin-right:2%;
margin-left:2%;
background-color: black;
}

.logo{
position:relative;
display: block;
height:100%;
width: 20%;
}

.signout{
    position: relative;
    bottom: 7%;
}

.icons{
    position: relative;
    background-color: black;
    margin-top: 3%;
    margin-right: 2.5%;
    width: 2%;
    height:25% ;
}


.Header .dropdown {
    position: absolute;
    top: 70%;
    right:1%;
    width: 150px;
    z-index: 2;
    background-color: black;
    
  }

  .Header .middletray{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 250%;
    right: 35%;
    width: 40%;
    height: 200%;
    z-index: 2;
    background-color: black;
    border-radius: 2.5%;

    
  }

  .Header .middletray:hover {
    cursor: pointer;
  }

  .selectionIcon{
    background-color: black;
  }
  
  .Header .ul {
    list-style: none;
    background-color: black;
    

  }
  .Header .selection {
    position: relative;
    background-color: black;
    right: 40%;
    width: 140%;
    font-size: large;
    margin-bottom: -3%;
    white-space: nowrap;
    text-align: center;


  }
  
  .Header .selection:hover {
    background-color:rgba(255, 255, 255, 0.049);
    cursor: pointer;
    color:white;
  }

.Header .addMedia{
    width: 40%;
    margin: 5%;
    background-color: black;
    font-size:xx-large;
}

.Header .chooseImage{
  position: relative;
  width: 100%;
  height: 10%;
  background-color: black;
  color: aliceblue;
}

.Header .uploadImage{
  position: relative;
  width: 90%;
  height: 20%;
  margin-left: 5%;

}

.Header .fileName{
  position: relative;
  background-color: black;
  margin: 7%;
  width: 100%;
  max-width: max-content;
  overflow:hidden;
  height: 10%;
}

.Header .chooseAndDisplay{
  position: relative;
  background-color: black;
  margin-bottom: 2%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  width: fit-content;
  
}


.Header .uploadtray{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30%;
  right: 35%;
  width: 40%;
  height: fit-content;
  z-index: 2;
  background-color: black;
  border-radius: 2.5%;
}

.Header .closeButton{
  position: relative;
  width: 7%;
  height: auto;
  margin-top: 2%;
  margin-left: auto;
  margin-right: 1%;
  background-color: black;
}

.Header .preview {
  position: relative;
  max-width: 95%;
  max-height: 60vh;
  margin-left: 2.5%;
  
}

.Header .previewSmall {
  position: relative;
  width: 40%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 30%;
  
}

.Header .captionInput {
  position: relative;
  margin-left: 10%;
  width: 78%;
  height: 30vh;
  color: aliceblue;
  background-color: black;
  
}

.flex-column{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
}