*{
  background-color: rgba(0, 0, 0, 0.937);
}

.heading{
text-align: center;
color: white;
width: 100%;
margin-bottom: 15%;   
font-size:x-large;
background-color:rgba(255, 255, 255, .0) ;
}



.Login button:hover{
  transform: translateY(-4px);
}

.divider{
display: flex;
flex-direction: row;
margin-top: 7%;
width: 100%;

}

.half{
background-attachment: fixed;
position: relative;
margin-top:4%;
margin-left:9%;
margin-right:9%;
margin-bottom:9%;
width: 100%;
/*background-color:rgba(255, 255, 255, .05) ;
box-shadow:  0 0 10px rgba(255, 255, 255, .5);*/
}



.input{
position: relative;
padding: 6%;
width:100%;
height: 35px;
display: block;
border: none;
outline: none;
margin-top:9%;
margin-bottom:9%;
box-sizing: border-box;
background: rgba(255, 255, 255, 0.1);
color: #fff;
letter-spacing: 1px;
border-radius: 5px;
}

input:focus {
    outline: none;
  }

.forgotPass{
    color:aliceblue;
    width: 100%;
    margin-top: 7%;
    text-align: center;
    background-color:rgba(255, 255, 255, .0) ;
}

.buttons{
    position: relative;
    display: block;
    width:100%;
    min-height: 35px;
      appearance: button;
      backface-visibility: hidden;
      background-color: #405cf5;

      border-radius: 5px;
      box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
      margin-top:9%;
margin-bottom:9%;
      outline: none;
      overflow: hidden;
      text-align: center;
      padding: 0 25px;
      text-transform: none;
      transform: translateZ(0);
      transition: all .2s,box-shadow .08s ease-in;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
}


