.NotifLike {
    background-color:black;
     position:relative;
     padding:3%;
     min-width:100%;
     width: 100%;
     border-bottom: 1px grey;
     border-bottom-style:outset;
     cursor: pointer;
    }

    .NotifLike:hover {
      background-color:#666;
      }
   
 

    .NotifLike .logo{
 position:relative;
 display: block;
 max-width: 8%;
 height:70%;
 margin-left: 3%;
 margin-top: 1.5%;
 border-radius:100%
 }
 
 
 .NotifLike .welcome{
    position: relative;
    width: fit-content;
    margin-top:4%;
    margin-left:3%;
    font-size: large;
    background-color: transparent;
    }

    
    .NotifLike .welcome:hover {
      background-color:rgba(255, 255, 255, 0.162);
      cursor: pointer;
      bottom:10% 
    }

    .NotifLike .icons{
        position: relative;
        margin: 1%;
        margin-left:6% ;
        width: fit-content;
        height:80% ;

        
}

.NotifLike .icons:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

.NotifLike .dropdown {
    position: absolute;
    top: 10%;
    right: 0%;
    width: 150px;
    z-index: 1;
    background-color: black;
    
  }



  .NotifLike .selectionIcon{
    background-color: black;
  }
  
  .NotifLike .Header .ul {
    list-style: none;
    background-color: black;
    

  }
  .NotifLike .selection {
    position: relative;
    background-color: black;
    right: 35%;
    width: 135%;
    font-size: large;
    margin-bottom: -3%;
    white-space: nowrap;
    text-align: left;


  }
  
  .NotifLike.selection:hover {
    background-color:rgba(255, 255, 255, 0.049);
    cursor: pointer;
    color:white;
  }