.PostHeader{
    background-color:black;
     position:inherit;
     display:flex;
     flex-direction: row;
     width: 100%;
     height: 60px;
     border-bottom: 1px white;
     border-bottom-style:outset;

    }
 

 .PostHeader .logo{
 position:relative;
 display: block;
 max-width: 8%;
 height:70%;
 margin-left: 3%;
 margin-top: 1.5%;
 border-radius:100%
 }
 
 
 .PostHeader .welcome{
    position: relative;
    height: fit-content;
    width: 80%;
    margin-top:4%;
    margin-right:4%;
    margin-left:3%;
    margin-right: 10%;
    font-size: large;
    background-color: black;
    cursor: pointer;
    }

.PostHeader .icons{
        position: relative;
        margin: 1%;
        margin-left:6% ;
        width: 10%;
        height:80% ;
        cursor: pointer;

        
}

.PostHeader .dropdown {
    position: absolute;
    top: 6%;
    right: 2%;
    width: 230px;
    z-index: 1;
    background-color: black;
    
  }

  .PostHeader .dropdownH {
    position: absolute;
    top: 8%;
    right: 41%;
    width: 285px;
    z-index: 1;
    background-color: black;
    
  }

  .PostHeader .ulH{
    position:relative;
    list-style: none;
    background-color: black;
    width:fit-content;
    margin-left:15%;
    

  }

  .PostHeader .selectionIcon{
    background-color: black;
  }
  
  .PostHeader .ulV {
    list-style: none;
    margin-left:12.5%;
    width:fit-content;
    background-color: black;
    

  }
  .PostHeader .selection {
    position: relative;
    background-color: black;
    right: 35%;
    width: 135%;
    font-size: large;
    margin-bottom: -3%;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
  }

    
  .PostHeader button:hover {
    background-color:#333;
    transform: translateY(4px);
  }

  .PostHeader .selection:active {
    background-color: #333;
   
    transform: translateY(4px);
  }

  
.PostHeader .captionInput {
  position: relative;
  margin-left: 10%;
  width: 78%;
  height: 30vh;
  color: aliceblue;
  background-color: black;
  
}


.PostHeader .flex-column{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.PostHeader .uploadtrayP{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10%;
  right: 20%;
  width: 60%;
  height: fit-content;
  z-index: 3;
  background-color: black;
  border-radius: 2.5%;
}

