.PostTools {
    position:inherit;
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 97%;
    height:fit-content;

    padding-left: 3%;
    
}


.PostTools .icons{
    position: relative;
    background-color: black;
    height: 100%;
    width:5%;
    margin-top: 3.5%;
    margin-right:5%;
    
}

.PostTools .icons:hover{
  transform: translateY(-4px);
}

.PostTools .save{
    position: relative;
    background-color: black;
    height: 80%;
    width:5%;
   margin-top: 3.5%;
   cursor: pointer;
}

.PostTools .save:hover{
  transform: translateY(-4px);
}

.PostTools .space{
    background-color: black;
    width: 62%;
}

.PostTools .commentTray{
    position: fixed;
    display: flex;
    flex-direction: column;
    box-shadow:0 0 2px grey;
    top: 6%;
    right:25%;
    width: 50%;
    height: 93vh;
    z-index: 3;
    background-color: black;
    border-radius: 5px;
    
  }

  .PostTools .comments{
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 2%;

    height: 95%;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-bottom: 0%;
  }

  .PostTools .input{
    height: fit-content;
    width: 100%;
    border-radius: 2%;

  }