.Post{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    width:100%;
    margin-top: 1%;
    padding-bottom: 5%;
}

.Post button:hover{
    transform: translateY(-4px);
  }

.Post .media{
    position:relative;
    width: 100%;
    height:450px;
}

.Post .caption{
    position:relative;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: aliceblue;
    max-width: 100%;
    height:auto;
    margin-top: 0%;
    padding-top: 2%;
    margin-bottom: 0%;
    padding-left: 2%;
}

.Post .nametag{
    position:relative;
    background-color: black;
    color: aliceblue;
    width: fit-content;
    margin-top:2%;
    margin-left: 2%;
    height:fit-content;
    font-weight: bold;
}

.Post .captiontext{
    position:relative;
    background-color: black;
    color: aliceblue;
    width: 100%;
    height:100px;
    margin-left: 2%;
}

.Post .footer{
    position: relative;
    background-color: black;
    width: 100%;
    height: 5vh;
}