.SearchResult{
    background-color:black;
     position:relative;
     display:flex;
     flex-direction: row;
     padding:1%;
     border-bottom: 1px grey;
     border-bottom-style:outset;
    }
 

    .SearchResult .logo{
 position:relative;
 display: block;
 max-width: 8%;
 height:70%;
 margin-left: 3%;
 margin-top: 1.5%;
 border-radius:100%
 }
 
 
 .SearchResult .welcome{
    position: relative;
    height: fit-content;
    width: 20%;
    margin-top:8%;
    margin-right:4%;
    margin-left:10%;
    margin-right: 40%;
    font-size: large;
    background-color: black;
    }

    .SearchResult .icons{
        position: relative;
        margin: 1%;
        margin-left:6% ;
        width: fit-content;
        height:80% ;

        
}

.SearchResult .icons:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

.SearchResult .dropdown {
    position: absolute;
    top: 10%;
    right: 0%;
    width: 150px;
    z-index: 1;
    background-color: black;
    
  }



  .PostHeader .selectionIcon{
    background-color: black;
  }
  
  .PostHeader .Header .ul {
    list-style: none;
    background-color: black;
    

  }
  .PostHeader .selection {
    position: relative;
    background-color: black;
    right: 35%;
    width: 135%;
    font-size: large;
    margin-bottom: -3%;
    white-space: nowrap;
    text-align: left;


  }
  
  .PostHeader.selection:hover {
    background-color:rgba(255, 255, 255, 0.049);
    cursor: pointer;
    color:white;
  }