.SearchResult{
     position:relative;
     display:flex;
     flex-direction: row;
     padding:1%;
     border-bottom: 1px grey;
     border-bottom-style:outset;
     background-color: black;
    }
 
    .SearchResult:hover{
      background-color: #333;
    }

    .SearchResult .logo{
 position:relative;
 display: block;
 max-width: 8%;
 height:70%;
 margin-left: 3%;
 margin-top: 1.5%;
 border-radius:100%
 }
 
 
 .SearchResult .welcome{
    position: relative;
    height: fit-content;
    min-width: fit-content;
    margin-top:5%;
    margin-left:5%;
    font-size: large;
    background-color: transparent;
cursor: pointer;
    }

    .SearchResult .icons{
        position: relative;
        margin: 1%;
        margin-left:6% ;
        width: fit-content;
        height:80% ;

        
}

.SearchResult .icons:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

.SearchResult .dropdown {
    position: absolute;
    top: 10%;
    right: 0%;
    width: 150px;
  
    background-color: black;
    
  }



  .PostHeader .selectionIcon{
    background-color: black;
  }
  
  .PostHeader .Header .ul {
    list-style: none;
    background-color: black;
    

  }
  .SearchResult button{
    border-radius: 5px;
}
  .SearchResult button:hover{
    transform: translateY(-4px);
  }

  .PostHeader .selection {
    position: relative;
    background-color: black;
    right: 35%;
    width: 135%;
    font-size: large;
    margin-bottom: -3%;
    white-space: nowrap;
    text-align: left;


  }
  
  .PostHeader.selection:hover {
    background-color:rgba(255, 255, 255, 0.049);
    cursor: pointer;
    color:white;
  }

    
 .selected-user {
    background-color:#333;
  }