.Settings{
    color: aliceblue;
    background-color: aliceblue;
  }
  
  .Settings button{
    position: relative;
    display: block;
    width:10%;
    min-height: 35px;
      appearance: button;
      backface-visibility: hidden;
      background-color: #405cf5;
      border-width: 0;
      box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
      margin-top:3%;
      margin-bottom:9%;
      outline: none;
      overflow: hidden;
      padding: 0 25px;
      text-transform: none;
      transform: translateZ(0);
      transition: all .2s,box-shadow .08s ease-in;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
  }

  .Settings .submit:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

  .Settings .divider{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 9%;
    
  }

  .Settings .pagehaedspace{
    margin-top: 0%;
  }

  .Settings .pageDivide{
    position: relative;
    display: flex;
    flex-direction: row;
    
}

  .Settings .options{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 30%;
    text-align: center;
  
      }

      .Settings .sideButtons{
        position: relative;
        color: aliceblue;
        background-color: black;
        
        width: 100%;
    
      
          }

          
  .Settings .formContainer{
    position: relative;
    padding-top: 5.7%;
    background-color:rgb(24, 23, 27);
    color: aliceblue;
    padding-left:10% ;
    width: 70%;
    height:73vh;
   
  
    
      }

      .Settings .formContainerEmailandSms{
        position: relative;
        background-color:rgb(24, 23, 27);
        color: aliceblue;
        padding-left:10% ;
        width:70%;
        
        
          }

                
  .Settings .formInputs{
    position: relative;
    background-color:rgb(24, 23, 27);
    z-index: 0;
    color: aliceblue;
    margin-top:-5.8%;
    margin-left: 0%;
    
      }

      .Settings .formInputsColumn{
        position: relative;
        background-color:rgb(24, 23, 27);
        display: flex;
        flex-direction: column;
        margin-top: -7%;
       width: 60%;
        
        
        
          }

          .Settings .formInputsColumnPasswordReset{
            position: relative;
            background-color:rgb(24, 23, 27);
            display: flex;
            flex-direction: column;
            margin-top: 10%;
            margin-left: 22%;
           width: 60%;
            
            
            
              }

          .Settings .formInputsColumnEmailAndSms{
            position: relative;
            background-color:rgb(24, 23, 27);
            display: flex;
            flex-direction: column;
            z-index: 0;
            margin-top: 3%;
          
            
            

            
           
              }
      
      .Settings .username{
        position: relative;
        background-color:rgb(24, 23, 27);
        margin-top:-4.5%;
        margin-left: 30%;
        font-size:x-large;
        
          }

          .Settings .submit{
            position: relative;
            width: 40%;
            margin-top: 2%;
            height: fit-content;
            margin-left: 47%;
              }

              .Settings .submitResetPassword{
                position: relative;
                width: 40%;
                margin-top: 3%;
                margin-left: 12%;
                height: fit-content;
                
               
                  }

          .Settings .changePicButton{
            position: relative;
            background-color:transparent;
            outline: none;
            height: fit-content;
            margin-top: -0.8%;
            width: fit-content;
            font-size:x-small;
            margin-left: 27%;
              }
          
              .Settings .row{
                position: relative;
                background-color:rgb(24, 23, 27);
                display: flex;
                flex-direction: row;
                margin-top: 5%;
                width: 80%;
                margin-left: 3%;
               

                
                  }

                  .Settings .column{
                    position: relative;
                    background-color:rgb(24, 23, 27);
                    display: flex;
                    flex-direction:column;
                    width: 80%;
  
                    
                   

                      }

                      .Settings .shiftup{
                        position: relative;
                        margin-right: 5%;
                        margin-top: 0%;
                          }

                          .Settings .bgblackbig{
                           background-color:rgb(24, 23, 27);
                          font-size:x-large;
                          margin-bottom: 2%;
  
                              }

                              .Settings .bgblacksmall{
                                background-color:rgb(24, 23, 27);
                               font-size:small;
       
                                   }

                                   .Settings .bgblack{
                                    background-color:rgb(24, 23, 27);
                                  display: inline-block;
                                  text-align: right;
                                 
           
                                       }

                                   .Settings .full-wide-netral{
                                    position: relative;
                                    background-color: rgb(24, 23, 27);
                                    width: 60%;
                                    height: 15vh;
                                    margin: 0%;
                                    text-align:left;
                                    font-size: large;
                                    padding-bottom: 1%;
                                    outline: none;
                                    border: none;
                                    outline-style: none;
                                    
                                    
                                    
                                   }

                                   .Settings .margin-top{
                                    position: relative;
                                    background-color: rgb(24, 23, 27);
                                    margin-top: 3%;
                                    margin-left: -4%;
                                 
                                   }

                                   .Settings .buttonIcon{
                                    position: relative;
                                    background-color: rgb(24, 23, 27);
                                    margin-right: 3%;
                                    
                                    width: 20%;
                                    height: 20%;
                                 
                                   }

                                   .Settings .formInput{
                                    position: relative;
                                    background-color: white;
                                  
                                  margin: 1%;
                                   border-radius: 1%;
                                   border: black;
                                  
                                width: 60%;
                                height: 5vh;
                                    
                                 
                                   }

                                   .Settings .formInputBio{
                                    position: relative;
                                    background-color: white;
                                    margin: 1%;
                                    border-radius: 1%;
                                    border: black;
                                   
                                    
                                width: 60%;
                                height: 10vh;
                                    
                                 
                                   }